{{>base/head
  bodyClasses=bodyClasses
}}

    {{>modules/header
        extraHeaderClasses=''
    }}

    <main>
        <section class="hero">
          <div class="row u-flex">
            <div class="hero-text-box">
              <h1 class="heading heading--primary">{{ siteDescription }}</h1>
              <p class="hero-text-box__text">{{{ texts.hero }}}</p>
              <div class="hero-text-box__button-container">
                <a href="#" class="button button-primary u-mr-2">Produktai</a>
                <a href="#" class="button button-secondary">Susisiekite</a>
              </div>
            </div>
          </div>
        </section>

        <section class="featured-products">
          <div class="row">
            <h2 class="heading heading--secondary">Produktai</h2>
            <div class="carousel" data-flickity='{ "lazyLoad": 2, "initialIndex": 2, "freeScroll": true, "wrapAround": true }'>
              {{#each carousel}}
                <img class="carousel-image" data-flickity-lazyload="{{roots.images}}{{src}}" alt="{{alt}}">
              {{/each}}
            </div>
           <div class="button-wrapper"><a href="#" class="button-inline">Pamatykite daugiau &raquo;</a></div>
          </div>
        </section>

        <section class="section-about">
          <div class="row u-flex">
            <div class="img-with-box">
              <img src="{{roots.images}}about-section.jpg" alt="Apie mus" class="img-with-box__img">
              <div class="img-with-box__box">
                <h2 class="heading heading--secondary">Apie mus</h2>
                <p class="img-with-box__text">{{ texts.about }}</p>
                <a href="#" class="button button-secondary">Sužinoti daugiau</a>
              </div>
            </div>
          </div>
        </section>

        {{>modules/cta}}

    </main>

{{>base/footer
  bodyClasses=bodyClasses
}}