<div class="img-with-box-small">
    <img src="{{roots.images}}{{src}}" alt="{{alt}}" class="img-with-box-small__img">
    <div class="img-with-box-small__box">
        <h4 class="heading heading--fourth"><b>Kodas:</b> {{code}}</h4>
        <div class="img-with-box-small__link"><a href="{{href}}" class="button-inline button-inline--small">Sužinoti daugiau</a></div>
    </div>
</div>