<div class="img-with-box">
    <img src="{{roots.images}}{{photo}}" alt="{{alt}}" class="img-with-box__img">
    <div class="img-with-box__box">
        <h2 class="heading heading--secondary">{{head}}</h2>
        <p class="img-with-box__text">{{text}}</p>
        <a href="#" class="button button-secondary">{{button}}</a>
    </div>
</div>